html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.125rem;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e2e2;
  margin: .5rem;
}

header img {
  width: 2rem;
  order: -1;
}

header h1 {
  width: 30%;
}

header p {
  width: 30%;
  padding: 1rem;
}

nav {
  width: 30%;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: .75em 1em .6em;
}

nav a {
  text-decoration: none;
  text-decoration-color: #0074d9;
}

nav a:hover {
  background-color: #fff;
}
